# Ignore all migrations folders
**/migrations/

# Ignore all locale folders
**/locale/


# Ignore all site-packages folders
**/site-packages/

# Ignore all .pyc files
**/*.pyc

# Ignore all __pycache__ directories
**/__pycache__/


**/venv/